    <form class="playground well form-inline">
      <div class="msg"></div>
      <div>
        <input name="user" type="text" class="input-small user-input" placeholder="Name" value="test">
        <button type="button" class="btn submit enter">enter</button>
      </div>
    </form>

    <div class="stage">
      <ul>
        <li><a href="google.com" target="_blank">google.com</a></li>
        <li>
            <a href="#">toggle content</a>
            <div class="">
              hidden content
            </div>
        </li>
      </ul>
    </div>
    <ul id="userlist">
    </ul>
    <div class="actions">
      <span class="toggle-debug">toggle debug</span> |
    </div>
    <div class="game">
      <div class="console"></div>
      <canvas width="800" height="600" id="debugCanvas"></canvas>
      <canvas id="canvas" width="800" height="600"></canvas>
    </div>

