    <form class="playground well form-inline">
      <div class="msg"></div>
      <div>
        <input name="user" type="text" class="input-small user-input" placeholder="Name" value="test">
        <button type="button" class="btn submit enter">enter</button>
      </div>
    </form>

    <div class="stage">
      <ul>
        <li><a href="google.com" target="_blank">google.com</a></li>
        <li>
            <a href="#">toggle content</a>
            <div class="">
              hidden content
            </div>
        </li>
      </ul>
    </div>
    <ul id="userlist">
    </ul>
    <canvas id="canvas"></canvas>

