    <form class="signin-form well form-inline" action="#">
      <div class="msg"></div>
        <input 
          name="user" 
          type="text" 
          class="input-large username" 
          placeholder="Username" 
          value="Username" 
          required 
        />
        <input 
          type="submit" 
          class="btn submit enter" 
          value="enter" 
        />
    </form>
